<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <ul>
        <li><a href="/school/students/">Students</a></li>
        <li><a href="/school/teachers/">Teachers</a></li>
        <li><a href="/school/courses/">Courses</a></li>
        <li><a href="/school/add_student/">Add Student</a></li>
        <li><a href="/school/add_teacher/">Add Teacher</a></li>
        <li><a href="/school/add_course/">Add Course</a></li>
        <li><a href="/school/add_registration/">Add Registration</a></li>
    </ul>
</body>
</html>